{% extends "email.html.twig" %}

      {% block title %}<title>Nouveau message</title>{% endblock %}

        {% block compose %}
            <!-- START COMPOSE EMAIL -->
            <div class="email-composer container-fluid">
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="wysiwyg5-wrapper email-toolbar-wrapper">
                            <ul class="wysihtml5-toolbar" style="">
                                <li class="dropdown"><a data-toggle="dropdown" class="btn btn-default dropdown-toggle "><span class="editor-icon editor-icon-headline"></span><span class="current-font">Normal</span><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" data-wysihtml5-command-value="p" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">Normal</a></li>
                                        <li><a tabindex="-1" data-wysihtml5-command-value="h1" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">1</a></li>
                                        <li><a tabindex="-1" data-wysihtml5-command-value="h2" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">2</a></li>
                                        <li><a tabindex="-1" data-wysihtml5-command-value="h3" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">3</a></li>
                                        <li><a tabindex="-1" data-wysihtml5-command-value="h4" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">4</a></li>
                                        <li><a tabindex="-1" data-wysihtml5-command-value="h5" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">5</a></li>
                                        <li><a tabindex="-1" data-wysihtml5-command-value="h6" data-wysihtml5-command="formatBlock" href="javascript:;" unselectable="on">6</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="btn-group"><a tabindex="-1" title="CTRL+B" data-wysihtml5-command="bold" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-bold"></i></a><a tabindex="-1" title="CTRL+I" data-wysihtml5-command="italic"
                                            class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-italic"></i></a><a tabindex="-1" title="CTRL+U" data-wysihtml5-command="underline" class="btn btn-default" href="javascript:;"
                                            unselectable="on"><i class="editor-icon editor-icon-underline"></i></a>
                                    </div>
                                </li>
                                <li><a tabindex="-1" data-wysihtml5-display-format-name="false" data-wysihtml5-command-value="blockquote" data-wysihtml5-command="formatBlock" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-quote"></i></a></li>
                                <li>
                                    <div class="btn-group"><a tabindex="-1" title="Unordered list" data-wysihtml5-command="insertUnorderedList" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-ul"></i></a><a tabindex="-1" title="Ordered list"
                                            data-wysihtml5-command="insertOrderedList" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-ol"></i></a><a tabindex="-1" title="Outdent" data-wysihtml5-command="Outdent"
                                            class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-outdent"></i></a><a tabindex="-1" title="Indent" data-wysihtml5-command="Indent" class="btn btn-default" href="javascript:;"
                                            unselectable="on"><i class="editor-icon editor-icon-indent"></i></a></div>
                                </li>
                                <li>
                                    <div class="btn-group"><a tabindex="-1" title="Edit HTML" data-wysihtml5-action="change_view" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-html"></i></a></div>
                                </li>
                                <li>
                                    <div class="bootstrap-wysihtml5-insert-link-modal modal fade">
                                        <div class="modal-dialog ">
                                            <div class="modal-content">
                                                <div class="modal-header"><a data-dismiss="modal" class="close">×</a>
                                                    <h3>Insert link</h3>
                                                </div>
                                                <div class="modal-body"><input class="bootstrap-wysihtml5-insert-link-url form-control" value="http://"><label class="checkbox"> <input type="checkbox" checked="" class="bootstrap-wysihtml5-insert-link-target">Open link in new window</label></div>
                                                <div class="modal-footer"><a data-dismiss="modal" class="btn btn-default">Cancel</a><a data-dismiss="modal" class="btn btn-primary" href="#">Insert link</a></div>
                                            </div>
                                        </div>
                                    </div><a tabindex="-1" title="Insert link" data-wysihtml5-command="createLink" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-link"></i></a></li>
                                <li>
                                    <div class="bootstrap-wysihtml5-insert-image-modal modal fade">
                                        <div class="modal-dialog ">
                                            <div class="modal-content">
                                                <div class="modal-header"><a data-dismiss="modal" class="close">×</a>
                                                    <h3>Insert image</h3>
                                                </div>
                                                <div class="modal-body"><input class="bootstrap-wysihtml5-insert-image-url form-control" value="http://"></div>
                                                <div class="modal-footer"><a data-dismiss="modal" class="btn btn-default">Cancel</a><a data-dismiss="modal" class="btn btn-primary">Insert image</a></div>
                                            </div>
                                        </div>
                                    </div><a tabindex="-1" title="Insert image" data-wysihtml5-command="insertImage" class="btn btn-default" href="javascript:;" unselectable="on"><i class="editor-icon editor-icon-image"></i></a></li>
                            </ul>
                        </div>
                        <form id="form-project" role="form" autocomplete="off">
                            <div class="form-group-attached">
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>TO:</label>
                                            <input name="to" data-role="tagsinput" class="form-control tagsinput" type="text" value="John Smith">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>CC:</label>
                                            <input type="text" class="form-control" name="cc" placeholder="Add Carbon Copy">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group form-group-default">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" name="subject">
                                </div>
                            </div>
                        </form>
                        <div class="wysiwyg5-wrapper email-body-wrapper">
                            <textarea class="wysiwyg email-body" style="height: 350px; display: none;"></textarea><input type="hidden" name="_wysihtml5_mode" value="1"><iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true" frameborder="0"
                                width="0" height="0" marginwidth="0" marginheight="0" style="display: inline-block; background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(0, 0, 0); border-style: none; border-width: 0px; clear: none; float: none; margin: 0px; outline: rgb(0, 0, 0) none 0px; outline-offset: 0px; padding: 2px 2px 50px; position: static; top: auto; left: auto; right: auto; bottom: auto; z-index: auto; vertical-align: baseline; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 890px; height: 350px;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row p-b-20">
                    <div class="col-md-11">
                        <button class="btn btn-white btn-cons">Cancel</button>
                        <button class="btn btn-complete btn-cons m-l-10">Send</button>
                        <div class="checkbox inline m-l-20">
                            <input type="checkbox" value="1" id="sendCC">
                            <label for="sendCC" class="hint-text hidden-sm-down">Send a <span class="text-complete">Carbon Copy</span> CC to my Primary email address.</label>
                            <label for="sendCC" class="hint-text hidden-md-up">Send me a CC</label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-complete pull-right">
                        <i class="pg-save"></i>
                      </button>
                    </div>
                </div>
            </div>
        <!-- END COMPOSE EMAIL -->
         {% endblock %}
             
      
 
