{% extends "layout-home.html.twig" %}

{% block head %}
{{ parent() }}

{% block title %}Ajoutez une recette{% endblock %}
<link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen"> 
{% endblock %}

 {% block content %}
    <!-- START card -->
    <div class="card card-transparent">
        <div class="card-block">
            <div class="row">
                <div class="col-md-10">
                    <h3>Ajoutez une recette</h3><br>
                        {# INFOS GENERALES #}
                        <form id="form-group row" method="post" class="form-horizontal" role="form" autocomplete="off">
                            <div class="form-group row">
                                <label for="fname" class="col-md-2 control-label" >Nom</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fname" placeholder="Indiquez votre nom et prénom ou votre nom d'utilisateur" name="name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-md-2 control-label">Qualification</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="fname" placeholder="Nutritioniste, médecin, professeur de yoga..." name="name" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-md-2 control-label">Titre de la recette</label>
                                <div class="col-md-10">
                                    <textarea rows="4" class="form-control" id="name" placeholder="Tarte aux fraises" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-md-2 control-label">Description</label>
                                <div class="col-md-10">
                                    <textarea rows="4" class="form-control" id="name" placeholder="Une délicieuse tarte à déguster en été, accompagnée d'une petite limonade" required></textarea>
                                </div>
                            </div>

                            {# INGREDIENTS #}
                            <div class="form-group row">
                                <label for="name" class="col-md-2 control-label">Ingrédients</label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <input class="form-control" id="ingredient1" placeholder="100g de sucre" required>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-primary float-right">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# ETAPES #}
                            <div class="form-group row">
                                    <label for="name" class="col-md-2 control-label">Étapes</label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-11">
                                            <textarea class="form-control" rows="3" id="name" placeholder="Commencez par laver les fraises.." required></textarea>
                                        </div>
                                        <div class="col-md-1 ">
                                            <button type="button" class="btn btn-primary float-right">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# INTOLERANCES #}
                            <div class="form-group row">
                                <label for="fname" class="col-md-2 control-label ">Intolérances / Régime</label>
                                    <div class="col-md-10 ">
                                    
                                        <div class="col-md-3 spacing">
                                            <input id="gluten" type="checkbox" name="gluten" value="gluten" class="checkbox-inline ">
                                            <label for="gluten">Sans gluten</label>
                                        </div>
                                        <div class="col-md-3 spacing">
                                            <input id="vegan" type="checkbox" name="vegan" value="vegan" class="checkbox-inline ">
                                            <label for="vegan">Vegan</label>
                                        </div>
                                        <div class="col-md-3 spacing">
                                            <input id="vegetarien" type="checkbox" name="vegetarien" value="vegetarien" class="checkbox-inline ">
                                            <label for="vegetarien">Vegetarien</label>
                                        </div>
                                        <div class="col-md-3 spacing">
                                            <input id="lait" type="checkbox" name="lait" value="lait" class="checkbox-inline ">
                                            <label for="lait">Sans produits laitiers</label>   
                                        </div>
                                        <div class="col-md-3 spacing">
                                            <input id="noix" type="checkbox" name="noix" value="noix" class="checkbox-inline ">
                                            <label for="lait">Sans noix</label>   
                                        </div>
                                    
                                </div>
                            </div>

                            {# IMAGES #}
                            <div class="form-group row">
                                <div class="col-md-2">
                                <label for="position" class="control-label">Images à ajouter</label>
                                </div>
                                <div class="col-md-10">                                                  
                                    <div class="row">
                                        <div class="col-md-11">
                                            <input type="file" class="form-control" id="position" placeholder="Format .jpg ou .png" required>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-primary float-right">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label for="position" class="control-label"></label>
                                </div>
                                <div class="col-md-10">                                                  
                                    <button type="submit" class="btn btn-lg btn-success col-md-4 offset-4">Envoyer</button>
                                </div>
                            </div>
                        </div> <!-- END div col-md-10 -->
                    </form>
            </div> <!-- END div row -->
        </div> <!-- END card block -->
    </div> <!-- END card -->
    
{% endblock %}