{% extends "layout-home.html.twig" %}
{% block head %}
{{ parent() }}
{% block title %}<title>Ajout d'un conseil</title>{% endblock %}
<link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css" media="screen"> 
{% endblock %}
 {% block content %}
    <!-- START card -->
    <div class="card card-transparent">
        {# <div class="card-header ">
            {# <div class="card-title">Ajout du contenu 
            </div> #}
        {# </div>  #}
        <div class="card-block">
            <div class="row">
                <div class="col-md-10">
                    <h3>Ajoutez un conseil</h3><br>
                    {# <p>Want it to be more Descriptive and User Friendly, We Made it possible, Use Seperated Form Layouts Structure to Presentate your Form Fields.
                    </p>
                    <br>
                    <p class="small hint-text">To Add A full Width Portlet - Class - card-full This can be used in any
                        <br> widget or situation, Highly Recomended on Forms and tables</p> #}
                        {# <div class="form-group row">
                            <label class="col-md-3 control-label">Type de contenu</label>
                            <div class="col-md-9">
                                <div class="radio radio-success">
                                    <input type="radio" checked="checked" value="recette" name="radiochecked" id="recette">
                                    <label for="recette">Recette</label>
                                    <input type="radio"  value="conseil" name="radiochecked" id="conseil">
                                    <label for="conseil">Conseil</label>
                                </div>
                            </div>
                        </div> #}
                        <form id="form-group row" class="form-horizontal" role="form" autocomplete="off">
                        <div class="form-group row">
                            <label for="fname" class="col-md-3 control-label">Nom</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fname" placeholder="Indiquez votre nom et prénom ou votre nom d'utilisateur" name="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-md-3 control-label">Qualification</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="fname" placeholder="Nutritioniste, médecin, professeur de yoga..." name="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                <textarea rows="4" class="form-control" id="name" placeholder="Ajoutez votre texte ici"></textarea>
                            </div>
                        </div>
                       
                        <div class="form-group row">
                        <label for="fname" class="col-md-3 control-label">Intolérances / Régime</label>
                            <div class="col-md-9">
                                <form action="/checkbox.php" method="post">
                                    <input id="gluten" type="checkbox" name="gluten" value="gluten" class="checkbox-inline">
                                    <label for="gluten">Sans gluten</label>

                                    <input id="vegan" type="checkbox" name="vegan" value="vegan" class="checkbox-inline">
                                    <label for="vegan">Vegan</label>

                                    <input id="vegetarien" type="checkbox" name="vegetarien" value="vegetarien" class="checkbox-inline">
                                    <label for="vegetarien">Vegetarien</label>

                                    <input id="lait" type="checkbox" name="lait" value="lait" class="checkbox-inline">
                                    <label for="lait">Sans produits laitiers</label>
                                
                                
                            </div>
                    </div>
                        <div class="form-group row">
                            <label for="position" class="col-md-3 control-label">Images à ajouter</label>
                            <div class="col-md-9">
                                <input type="file" class="form-control" id="position" placeholder="Format .jpg ou .png" required>
                            </div>
                        </div>
                        
                        <br>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <p class="small">Votre ajout de contenu sera soumis à l'approbation avant d'être mis en ligne.</p>
                            </div>
                            <div class="col-md-9">
                                <button class="btn btn-success" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END card -->
{% endblock %}