
{% extends "layout-home.html.twig" %}

{% block content %}
            <h1>Enregistrement de l'équipe Mmmh !</h1>
            <form role="form">

              <div class="form-group form-group-default ">
                  <label>Pseudo</label>
                  <input type="text" id="pseudo" name="pseudo" class="form-control" required>
              </div>
          
              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group form-group-default">
                          <label>Prénom</label>
                          <input type="text" id="firstname" name="firstname" class="form-control" required>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group form-group-default">
                          <label>Nom</label>
                          <input type="text" id="lastname" name="lastname" class="form-control">
                      </div>
                  </div>
              </div>

          
              <div class="form-group form-group-default">
                <label>Mot de passe</label>
                <input type="password" id="lastname" name="lastname" class="form-control" required>
              </div>

              <div class="form-group form-group-default">
                <label>Email</label>
                <input type="email" id="email" name="email" class="form-control" required>
              </div>

              <div class="form-group form-group-default">
                <label>Numéro de téléphone</label>
                <input type="tel" id="phone" name="phone" class="form-control" required>
              </div>

              <div class="form-group form-group-default">
                <label>Poste</label>
                <input type="text" id="position" name="position" class="form-control" required>
              </div>
              
              <!-- Validation -->

              <button class="btn btn-primary btn-animated from-left fa fa-check" type="button">
                <span>Enregistrer</span>
            </button>
          
          </form>
{% endblock %}