{% extends "error.html.twig" %}

{% block error %}
            <h1 class="error-number">404</h1>
            <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
            <p class="p-b-10">This page you are looking for does not exsist <a href="#">Report this?</a>
            </p>
{% endblock %}
