{% extends "layout-home.html.twig" %} 
{% block title %}Liste des consomateur{% endblock %}
{% block content %}
<div>
    <table class="table table-hover demo-table-dynamic table-responsive-block dataTable no-footer" id="tableWithDynamicRows" role="grid" aria-describedby="tableWithDynamicRows_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="tableWithDynamicRows" rowspan="1" colspan="1" aria-label="App name: activate to sort column ascending">App name</th>
                <th class="sorting" tabindex="0" aria-controls="tableWithDynamicRows" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 438px;">Description</th>
                <th class="sorting" tabindex="0" aria-controls="tableWithDynamicRows" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 278px;">Price</th>
                <th class="sorting_asc" tabindex="0" aria-controls="tableWithDynamicRows" rowspan="1" colspan="1" aria-label="Notes: activate to sort column descending" style="width: 358px;" aria-sort="ascending">Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td class="v-align-middle">
                    <p>Angry Birds</p>
                </td>
                <td class="v-align-middle">
                    <p>Description goes here</p>
                </td>
                <td class="v-align-middle">
                    <p>FREE</p>
                </td>
                <td class="v-align-middle sorting_1">
                    <p>Notes go here</p>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="v-align-middle">
                    <p>Facebook</p>
                </td>
                <td class="v-align-middle">
                    <p>Description goes here</p>
                </td>
                <td class="v-align-middle">
                    <p>FREE</p>
                </td>
                <td class="v-align-middle sorting_1">
                    <p>Notes go here</p>
                </td>
            </tr>
            <tr role="row" class="odd">
                <td class="v-align-middle">
                    <p>Foursquare</p>
                </td>
                <td class="v-align-middle">
                    <p>Description goes here</p>
                </td>
                <td class="v-align-middle">
                    <p>FREE</p>
                </td>
                <td class="v-align-middle sorting_1">
                    <p>Notes go here</p>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="v-align-middle">
                    <p>Hyperlapse</p>
                </td>
                <td class="v-align-middle">
                    <p>Description goes here</p>
                </td>
                <td class="v-align-middle">
                    <p>FREE</p>
                </td>
                <td class="v-align-middle sorting_1">
                    <p>Notes go here</p>
                </td>
            </tr>
            <tr role="row" class="odd">
                <td class="v-align-middle">
                    <p>Twitter</p>
                </td>
                <td class="v-align-middle">
                    <p>Description goes here</p>
                </td>
                <td class="v-align-middle">
                    <p>FREE</p>
                </td>
                <td class="v-align-middle sorting_1">
                    <p>Notes go here</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}