{% extends "layout-login.html.twig" %}

{% block formDashboard %}
<form id="form-register" class="p-t-15" role="form" action="{{ path('login') }}">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Username</label>
                <input type="text" name="username" placeholder="John" class="form-control" required>
              </div>
            </div>
            
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Password</label>
                <input type="password" name="pass" placeholder="Minimum of 4 Charactors" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-default">
                <label>Email</label>
                <input type="email" name="email" placeholder="We will send loging details to you" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row m-t-10">
            <div class="col-lg-6">
              <p><small>I agree to the <a href="#" class="text-info">Pages Terms</a> and <a href="#" class="text-info">Privacy</a>.</small></p>
            </div>
            <div class="col-lg-6 text-right">
              <a href="#" class="text-info small">Help? Contact Support</a>
            </div>
          </div>
          <button class="btn btn-primary btn-cons m-t-10" type="submit">Create a new account</button>
        </form>                     
{% endblock %}