{% extends "layout-login.html.twig" %}

{% block title %}Inscrivez-vous à Mmmh!{% endblock %}

{% block login_register %}Créez un compte{% endblock %} 

{% block formDashboard %}

<form id="form-register" class="p-t-15" role="form" method="POST" action="{{ path('register') }}">

    <!-- USERNAME --> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label>Identifiant</label>
                <input type="text" name="username" placeholder="Identifiant" class="form-control" required>
            </div>
        </div>
    </div>

    <!-- EMAIL --> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label>Adresse mail</label>
                <input type="email" name="email" placeholder="Nous vous enverrons les détails de connexion" class="form-control" required>
            </div>
        </div>
    </div>

    <!-- PASSWORD --> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-default">
                <label>Mot de passe</label>
                <input type="password" name="password" placeholder="Au moins 4 caractères" class="form-control" required>
            </div>
        </div>
    </div>
    <br>
    <!-- CONNEXION --> 
    <div class="row">
        <div class="col-md-6 sm-p-l-10">
                <a href="{{ path('login') }}" class="text-info small">Connexion</a>
        </div>
    </div>
    <br>
    <div class="row m-t-12">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-cons m-t-10" type="submit">Créez un compte</button> 
            
        </div>
    </div>
</form>
{% endblock %}